<!DOCTYPE html>
<html>
<title>FOOD & STUFF</title>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static '/css/w3.css' %}">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Food catering & Services</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="/login/" class="w3-bar-item w3-button">Login</a>
      <a href="#member" class="w3-bar-item w3-button">Team Member</a>
      <a href="#contact"class="w3-bar-item w3-button">Contact</a>
    </div>
    </div>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="{% static '/images/hamburger.jpg' %}" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">The Catering</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="{% static '/images/tablesetting2.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Catering</h1><br>
      <h5 class="w3-center">Tradition since 2017</h5>
      <p class="w3-large">Food Catering & Service is a event managing & wedding catering company that is based in Kolkata. Having more than 3 years of experience in the industry they have well-trained master chefs who cook delicious cuisines for their clients and guests. Presenting their dishes in the most unique and creative manner, Food Catering & Service is a one-stop shop for getting sumptuous cuisines for your pre-wedding and post-wedding functions. </p>
      <p class="w3-large w3-text-grey w3-hide-medium">We are one of the very few “Catering Management Group in Kolkata” who serve their guests with international palettes by professional management team from the hospitality industry.Cuisines & Capacity: Food Catering & Service offers their catering services to minimum 100 people and maximum 5000 people at the events. Greeting their guests graciously they have Veg and Non Veg options available, which are made with much love and affection. They offer the following cuisines: Indian Chinese Italian Bengali Thai Desserts.</p>
    </div>
  </div>
  
  <hr>

    <!-- About Section -->
  <div class="w3-container w3-padding-32" id="member">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">Team Member</h1>
    
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="{% static '/images/aman.jpg' %}" alt="Aman" style="width:100%">
      <h3>Aman Shukla</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Front End </p>
      <p><a href="https://www.linkedin.com/in/aman-shukla-a9baa1179"><button class="w3-button w3-light-grey w3-block">CONTACT</button></a></p>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="{% static '/images/akash.jpg' %}" alt="Akash" style="width:100%">
      <h3>Akash Bhagat</h3>
      <p class="w3-opacity">CTO</p>
      <p>Backend and Database</p>
      <p><a href="https://www.linkedin.com/in/akash-kumar-akay/ "><button class="w3-button w3-light-grey w3-block">CONTACT</button></a></p>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="{% static '/images/abhinav.jpg' %}" alt="Abhinav" style="width:100%">
      <h3>Abhinav Gautam</h3>
      <p class="w3-opacity">Advisory</p>
      <p>Economic Facilator</p>
      <p><a href="https://www.linkedin.com/in/abhinav-raj-gautam-728699176"><button class="w3-button w3-light-grey w3-block">CONTACT</button></a></p>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="{% static '/images/atri.jpg' %}" alt="Atri" style="width:100%">
      <h3>Atri Adhikari</h3>
      <p class="w3-opacity">Consultant</p>
      <p>Techincal Consultant</p>
      <p><a href="https://www.linkedin.com/in/atri-adhikari-61a31416b"><button class="w3-button w3-light-grey w3-block">CONTACT</button></a></p>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="{% static '/images/bro.jpg' %}" alt="Barnali" style="width:100%">
      <h3>Barnali Chakraborty</h3>
      <p class="w3-opacity">Consultant</p>
      <p>Techincal Consultant</p>
      <p><a href="https://www.linkedin.com/in/atri-adhikari-61a31416b"><button class="w3-button w3-light-grey w3-block">CONTACT</button></a></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
    <p class="w3-text-blue-grey w3-large"><b>Catering Services,Near Howrah Bridge,Kolkata</b></p>
    <p>or we can inform you about our exclusive offers, just fill your details here</p>
    <form method="POST" action="/sendmail/">
      {% csrf_token  %}
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="email" placeholder="Your email here" required name="Email" 
        id="id_Email"></p>
        <p><input class="w3-input w3-padding-16" type="msg" placeholder="Please share your Feedback with us :-) " required name="msg" 
          id="msg"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND </button></p>
    </form>
  </div>
  
<!-- End page content -->
</div>


</body>
</html>